@import '~@baidu/one-ui/src/index.less';

* {
  box-sizing: border-box;
}

html,
body,
img,
ul,
ol,
li,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #f2f2f2;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    '微软雅黑',
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.dark {
    background: #000;
  }
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

// safari compatible
img[src=''],
img:not([src]) {
  opacity: 0;
}

/* overrides (global) */

//primary button background colors
.new-fc-one-btn-primary {
  background: #2b65ff;

  &:hover {
    background: #527dff;
  }

  &:active {
    background: #184bcc;
  }

  &-disabled {
    background: #d9e6ff;

    &:hover,
    &:active {
      background: #d9e6ff;
    }
  }
}

// Modal titles
.new-fc-one-modal-title {
  font-family:
    'PingFangSC-Medium',
    'Microsoft YaHei',
    '微软雅黑',
    Arial,
    sans-serif;
  font-size: 16px;
}
